.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
   
  }
  
  .loading-spinner {
    font-size: 40px;
    color: #000000; /* Match your primary button color */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.section-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}